<h2><%= question.question %></h2>
<% (1..5).each do |option| %>
  <%= form.radio_button("answers[#{question.id}]", option) %>
  <%= form.label("answers[#{question.id}][#{option}]", option) %><br>
<% end %>