<% if params.present? %>
  <div class="container">
    <div class="content">
      <div class="box">
      
            <% if params.present? and params["score"].present? %>

              <section>
                <div class="progress_bar_data">
                  <p class="progress_bar_title">
                    Autism score
                  </p>
                  <p class="progress_bar_percentage">
                    <%= params["score"].to_f %>% (<%= percentage_to_label(params["score"].to_f) %>)
                  </p>

                </div>
                
                <div class="percentage_bar">
                  <div style="width: <%= params["score"].to_f %>%;"></div>
                </div>

                <div>
                  <h1> You are <%= h percentage_to_label(params["score"].to_f) %> to have autism </h1>
                </div>
      
              </section>
      
            <% end %>


      </div>
    </div>
  </div>

<% else %>
  <h1>ERROR</h1>
<%end  %>
