<% if params.present? %>
  <div class="container">
    <div class="content">
      <div class="box">
      
          <% params.each do |key, value| %>
            <% if key.include?("category") %>

              <section>
                <div class="progress_bar_data">
                  <p class="progress_bar_title">
                    <%= key.split("_")[1] %>:
                  </p>
                  <p class="progress_bar_percentage">
                    <%= value %>% (<%= percentage_to_label(value.to_f) %>)
                  </p>

                </div>
                
                <div class="percentage_bar">
                  <div style="width: <%= value %>%;"></div>
                </div>
      
              </section>
      
            <% end %>
          <% end %>
      

      </div>
    </div>
  </div>

<% else %>
  <h1>ERROR</h1>
<%end  %>
