<main class="p-8 m-auto prose">
  <h1>About Us</h1>

  <p>We are a dedicated team passionate about providing reliable and accessible information on autism. Our mission is to help individuals and families better understand autism spectrum disorder through accurate, evidence-based resources and tools. We aim to create a supportive community where people can find the information they need to navigate their journeys with autism</p>
  <h3>Our Vision</h3>
  <p>Our vision is to foster a world where individuals with autism are understood, accepted, and supported. We strive to increase awareness and promote inclusivity through our educational content and practical tools.</p>
  <h3>Our Team</h3>
  <p>Our team consists of experts in psychology, education, and technology, all working together to bring you the best resources. We are committed to continuous learning and improvement to ensure that our content remains relevant and valuable.</p>
  <h3>Contact Us</h3>
  <p>Whether to say hi or report a bug, we will always love to hear from you! Your feedback helps us improve and serve you better. Reach out to us at <a href="mailto:fogado@rubynor.com">fogado@rubynor.com</a> </p>
</main>
