<main class="p-4 m-auto prose">
    <h1 class="md:text-5xl">FAQ</h1>

  <div class="collapse collapse-arrow bg-base-200 mt-5">
    <input type="radio" name="my-accordion-2" />
    <div class="collapse-title text-xl font-medium">What does my autism test score mean?</div>
    <div class="collapse-content">
      <p>The test is just a screening tool. If you score high we recommended that you seek an assessment by a healthcare professional for further investigation.</p>
    </div>
  </div>

  <div class="collapse collapse-arrow bg-base-200 mt-5">
    <input type="radio" name="my-accordion-2" />
    <div class="collapse-title text-xl font-medium">Where can I find more information about the autism test?</div>
    <div class="collapse-content">
      <p>We use a known autism test called AQ-50. It is made by autism research center at Cambridge University. For more information you should view the paper: <a href="https://docs.autismresearchcentre.com/papers/2001_BCetal_AQ.pdf" target="_blank">Resarch paper</a> </p>
    </div>
  </div>

  <div class="collapse collapse-arrow bg-base-200 mt-5">
    <input type="radio" name="my-accordion-2" />
    <div class="collapse-title text-xl font-medium">Is my data private and secure?</div>
    <div class="collapse-content">
      <p>Yes, we prioritize your privacy and security. We do not collect personal data. We use a third-party software, Plausible, to collect anonymized traffic data, ensuring that your personal information remains completely private.</p>
    </div>
  </div>

  <div class="collapse collapse-arrow bg-base-200 mt-5">
    <input type="radio" name="my-accordion-2" />
    <div class="collapse-title text-xl font-medium">What happens if I score high on the autism test?</div>
    <div class="collapse-content">
      <p>A high score on the autism test suggest that you may have some traits associated with autism. It is recommended to seek a professional evaluation for a diagnosis.</p>
    </div>
  </div>

  <div class="collapse collapse-arrow bg-base-200 mt-5">
    <input type="radio" name="my-accordion-2" />
    <div class="collapse-title text-xl font-medium">I found a translation error, what should I do?</div>
    <div class="collapse-content">
      <p>Please contact us at <a href="mailto:fogado@rubynor.com">fogado@rubynor.com</a></p>
    </div>
  </div>

  <div class="collapse collapse-arrow bg-base-200 mt-5">
    <input type="radio" name="my-accordion-2" />
    <div class="collapse-title text-xl font-medium">I don't see my language where do I add it?</div>
    <div class="collapse-content">
      <p>The best way to translate to your own language is to do it via github. Translate the questions and we will add it to our website. See our github site: <a href="https://github.com/FarouqJalabi/test-autism" target="_blank">Github</a> </p>
    </div>
  </div>

  <div class="collapse collapse-arrow bg-base-200 mt-5">
    <input type="radio" name="my-accordion-2" />
    <div class="collapse-title text-xl font-medium">Where can i find the code?</div>
    <div class="collapse-content">
      <p>our code is open source and available online. you can visit it here: <a href="https://github.com/farouqjalabi/test-autism" target="_blank">Github</a> </p>
    </div>
  </div>




</main>
