<main class="p-8 m-auto prose">
  <h1>Privacy And Policy</h1>
  <h2>About the Data We Collect</h2>
  <p>We don't collect any data about you. We use a third-party software, <a href="https://plausible.io/">Plausible</a>, to collect traffic data. This ensures that your privacy is protected while we gather the necessary insights to improve our website. Plausible provides us with anonymized, aggregated data, so your personal information remains completely private.</p>
  <h2>Cookies</h2>
  <p>Our website does not use cookies to track your activity or collect personal information. We believe in providing a browsing experience free from invasive tracking technologies.</p>
</main>
