<main class="p-4 m-auto prose">
  <div>
    <h1 class="md:text-5xl">Translations</h1>
    <p class="md:text-xl">We want our content to reach as many people as possible, so we use a ChatGPT for translations. While it usually does a great job, it can slip up now and then. If you notice any mistakes, we’d appreciate your help!</p>
    <h3 class="md:text-3xl">Help Us Improve!</h3>
    <p class="md:text-xl">If you spot something wrong in our translations, please let us know! Your feedback is invaluable in making sure our content is clear and accurate. Reach out to us at <a href="mailto:fogado@rubynor.com">fogado@rubynor.com</a> or create an issue on our <a href="https://github.com/FarouqJalabi/test-autism">Github page</a>.</p>
    <h3 class="md:text-3xl">Our Commitment</h3>
    <p class="md:text-xl">We are committed to providing high-quality translations and appreciate your collaboration in this effort. Together, we can ensure that our content is accessible and helpful to as many people as possible!</p>
  </div>
</main>
