<h1 class="font-bold text-4xl text-center mb-8 md:text-5xl md:mb-16 lg:text-6xl lg:mt-12">Our blogs</h1>
<div class="flex flex-wrap items-center justify-center gap-32 p-5">
  <%= render @blog_posts %>
</div>
