<% content_for :title, t("errors.500.headTitle") %>
<div class="prose m-auto text-center">

  <h1><%= t("errors.500.title") %></h1>
  <p><%= t("errors.500.description") %> <%= link_to t("errors.500.home"), root_path %>.</p>
</div>

