<% content_for :title, t("errors.404.headTitle") %>
<%= render "layouts/head" %>
<div class="flex items-center justify-center flex-col h-screen w-screen prose m-auto text-center">
  <h1><%= t("errors.404.title") %></h1>
  <p><%= t("errors.404.description") %> <%= link_to t("errors.404.home"), root_path %>.</p>
</div>
