<% content_for :title, "404 Error :O" %>
<%= render "layouts/head" %>
<div class="flex items-center justify-center flex-col h-screen w-screen prose m-auto text-center">
  <h1>Errors#not_found</h1>
  <p>Find me in app/views/errors/not_found.html.erb</p>
</div>
