<% content_for :title, "422 Error :(" %>
<%= render "layouts/head" %>
<div class="flex items-center justify-center flex-col h-screen w-screen prose m-auto text-center">
  <h1 class="font-bold text-4xl">Errors#unprocessable_content</h1>
  <p>Find me in app/views/errors/unprocessable_content.html.erb</p>
</div>
