<% content_for :title, t("errors.422.headTitle") %>
<div class="prose m-auto text-center">
  <h1><%= t("errors.422.title") %></h1>
  <p><%= t("errors.422.description") %> <%= link_to t("errors.422.home"), root_path %>.</p>
</div>

