@tailwind base;
@tailwind components;
@tailwind utilities;


@media print {
    input[type="radio"]:checked {
        box-shadow: 0 0 0 200px #1575D1 inset !important;
    }
}

progress {
    transition: 1s;
}


.selected_nav_element{
    position: relative;
}

.selected_nav_element::after {
    content: "";
    position: absolute;

    width: 100%;
    height: 5px;

    left: 0;
    bottom: -5px;
    border-radius: 50px;

    @apply bg-primary;
}
.prose a {
    @apply underline text-blue-600;
}

@keyframes carousel {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-carousel {
    animation: carousel 30s linear infinite;
}