@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
/* Not working on every browser*/

progress {
    transition: 1s;
}


.selected_nav_element{
    position: relative;
}

.selected_nav_element::after {
    content: "";
    position: absolute;

    width: 100%;
    height: 5px;

    left: 0;
    bottom: -5px;
    border-radius: 50px;

    @apply bg-primary;
}
