

main section {
    margin: 1rem 0 15rem 0;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}
.title_container {
    display: flex;
    align-items: center;
    justify-content: center;
}
section h1 {
    font-size: 2.8rem;
    width: 90%;
}
section p {
    font-size: 1.3rem;
    color: #666;
    padding: 0 1rem;
}
.button_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.button_container button,
.button_container a{
    border: none;
    padding: .75rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 1rem;
    transition: 100ms;
    text-decoration: none;
}

.button_container a:hover {
    transform: scale(1.1);
}
.button_container a:nth-child(1) {
    background-color: var(--primary);
    color: white;
}

.button_container a:nth-child(2){
    background-color: whitesmoke;
    color: #3b3b3b;
}


.about {
    margin-top: 3rem;
    border-top: 2px solid whitesmoke;
}
.about h2{
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 3rem;
    color: #3b3b3b;

}
.about h3{
    font-size: 2rem;
    color: #3b3b3b;

}
.about p{
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: #3b3b3b;

}

.about_box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.about_box > div {
    border: 2px solid #d3d3d3;
    padding: 2rem;
    margin: 1rem;
    border-radius: 2rem;
    width: 100%;
}   

.about_box .top_container{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1.4rem;
    margin-bottom: 1rem;
}
@media (min-width:600px) {

    main {
        padding: 0 5rem;
    }

    section h1 {
        width: 44rem;
        font-size: 3rem;
    }
}
@media (min-width:1025px) {
    main section:nth-child(1) {
        padding: 0 15rem;
    }

    .about_box > div {
        width: 30%;
    }   
    main {
        padding: 0 10rem;
    }
}

@media (min-width:1281px) {
    .about_box > div {
        width: 30%;
    }   
    main {
        padding: 0 20rem;
    }
}