.container{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
    background-color: white;
}
.question p{
    font-size: 1rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;

}
.content{
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}
.box{
    gap: 5rem;
    display: grid;
    padding: 2.5rem;
}
.question{
    display: flex;
    align-items: center;
    justify-content: center;

}


.options{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}



input[type="radio"] {
    display: none;
}

  .custom-radio {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    font-size: .8rem;
    user-select: none;
  }
  
  .custom-radio-button {
    margin: auto;
    height: 2rem;
    width: 2rem;
    background-color: white;
    border: 2px solid var(--primary-black);
    border-radius: 50%;
  }
  
  .custom-radio:hover > .custom-radio-button {
    background-color: #f1f1f1;
  }
  
  .custom-radio input[type="radio"]:checked + .custom-radio-button {
    background-color: #d3d3d3;
    border-color: #d3d3d3;
  }

  .question_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
  }

.question_buttons button {
      cursor: pointer;
      background-color: transparent;
      border: transparent;
 }

.question_buttons button:hover {
    transform: scale(1.1);
    transition: 100ms;
}

.submit_button {
    background-color: var(--primary);
    color: white;
    visibility: hidden;
    border: none;
    font-weight: 800;
    font-size: 1.2rem;
    padding: 15px 32px;
    cursor: pointer;
    border-radius: 1rem;
}
.submit_button:hover {
  transform: scale(1.1);
  transition: 100ms;
}

.question_container {
  position: absolute;
  width: 100%;
  z-index: -1;
  transition: transform 0.5s ease-in-out;
}

.slide-out-left {
  transform: translateX(-100%);
}

.current {
  transform: translateX(0);
}
.arrow_icon {
  width: 3rem;
}

@media (min-width:600px) {
  .question{
    padding: 0 10rem ;
  } 
  .question p{
    font-size: 3rem;
  }
  .options{
    gap: 2rem;
  }
  .box{
    padding: 0;
  }
  .custom-radio {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    padding-left: 3.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    user-select: none;
  }
  .custom-radio-button {
    margin: auto;
    height: 2.5rem;
    width: 2.5rem;
  }
  .arrow_icon {
    width: 6rem;
  }
  .container{
    padding: 0;
    padding: 1rem;
}

}

.progress-bar-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-bar {
  width: 60rem;
  background-color: #f3f3f3;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 1rem;
}

.progress-bar-fill {
  height: 20px;
  background-color: var(--primary);
  width: 0%;
  transition: width 0.5s;
}



