.container{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: white;
    padding: 1rem;
}
.question p{
    font-size: 3rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;

}
.content{
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}
.box{
    gap: 3rem;
    display: grid;
}
.question{
    display: flex;
    align-items: center;
    justify-content: center;

}


.options{
    display: flex;
    align-items: center;
    justify-content: center;
}



input[type="radio"] {
    display: none;
}
  
  .custom-radio {
    display: inline-block;
    position: relative;
    padding-left: 3.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    user-select: none;
  }
  
  .custom-radio input[type="radio"] + span {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.5rem;
    width: 2.5rem;
    background-color: white;
    border: 2px solid #333;
    border-radius: 50%;
  }
  
  .custom-radio:hover input[type="radio"] + span {
    background-color: #f1f1f1;
  }
  
  .custom-radio input[type="radio"]:checked + span {
    background-color: #d3d3d3;
    border-color: #d3d3d3;
  }
  
  .custom-radio input[type="radio"]:checked + span:after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  .question_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
  }

.question_buttons button {
      cursor: pointer;
      background-color: transparent;
      border: transparent;
 }

.question_buttons button:hover {
    transform: scale(1.1);
    transition: 100ms;
}

.submit_button {
    background-color: #d9d9d9;
    color: #333;
    border: none;
    font-weight: 800;
    font-size: 1.2rem;
    padding: 15px 32px;
    cursor: pointer;
    border-radius: 4px;
}
.submit_button:hover {
  transform: scale(1.1);
  transition: 100ms;
}