#result {
    max-width: 20rem;
}

#result h1 {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 1rem;
}
#result p {
    font-size: 1rem;
}
.progress_bar_data{
    display: flex;
    gap: 1rem;
}
.progress_bar_data p{
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: .7rem;
}


.percentage_bar {
    width: 30rem;
    height: 2rem;
    border-radius: 15px;
    border: 1px solid #d3d3d3;
    overflow: hidden;
    margin-bottom: 25px;
}

.percentage_bar > div {
    background-color: #d9d9d9;
    height: 100%;
}

.result-progress-container {
    margin-bottom: 3rem;
}

.result-progress-bar {
    position: relative;
    height: 2rem;
    background-color: var(--secondary-white);
    border-radius: 1rem;
}

.result-progress {
    height: 100%;
    background-color: var(--primary);
    
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.result-progress-percentage {
    position: absolute;
    top: -2.5rem;
    right: 0;
    font-weight: 800;
    transform: translateX(50%);
    border: 2px solid var(--secondary-white);
    color: var(--secondary-black);
    padding: .2rem .5rem;
    border-radius: .4rem;
    font-size: .7rem;
    z-index: 1;
}


.result-progress-percentage::after {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    border-width: .5rem;
    border-style: solid;
    border-color: var(--secondary-white) transparent transparent transparent;
}




@media (min-width:600px) {

    #result {
        width: 44rem;
        max-width: 50rem;
    }
    #result h1 {
        font-size: 3rem;
    }
    #result p {
        font-size: 1.3rem;
    }
    .result-progress-percentage {
        font-size: 1rem;
    }
}