<main class="">
  <progress class="progress w-full" value="0" max="100"></progress>

  <%= form_with url: questions_calculate_answer_path, method: :post do |form| %>
    <div class="relative h-80 w-full">
      <%= render @questions, form: form %>
    </div>
  <% end %>
</main>
