<style>
  .dropDown {
      background: #bfbfbf;
      padding: 5px;
      position: relative;
  }
  .dropDown ul {
      /*display: none;*/
      list-style-type: none;

      position: absolute;
      left: 0;

      background-color: inherit;
      width: 100%;
  }
  .dropDown ul li {
     padding: 5px;
  }

  .dropDown button {
      background-color: transparent;
      border: none;
      font-size: large;
  }

</style>

<select id="locale-select" name="" id="" onchange="window.location.href=this.value">

  <option value="">Change Language</option>
  <option value="en">English</option>
  <option value="es">Español</option>
  <option value="fr">Français</option>
</select>